<h2>Loby</h2>
Games ready to start:
<ul>
  <% @games.each do |game| %>
    <li>
      <%= link_to "Join game #{game.id}", game_path(game) %>
    </li>
  <% end -%>
</ul>

Or perhaps <%= link_to "start a new game", new_game_path %>
