<h2>Loby</h2>
Want to <%= link_to "start a new game", new_game_path %>?

<% if @games.any? %>
  <p>
    Or you could join one of these games...
  </p>
  <ul>
    <% @games.each do |game| %>
      <li>
        <%= link_to "Join game #{game.id}", game_path(game) %>
      </li>
    <% end -%>
  </ul>
<% end %>
