<% if not @game.started? %>
  <h2>Game has not started!!</h2>
<% end %>

<h2>Currently <%= @player.email %>'s turn</h2>

<svg id="table" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
</svg>
