<p>Players:</p>
<ul id="players"></ul>

<p class="state pending">
  Game is pending. <button id="toggle-ready">Click when ready!</button>
</p>

<p class="state ready">You are ready. Game will start soon.</p>

<div class="state playing">
  <svg id="table" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>
</div>

<div class="state game-over">
  Game over man, game over.
</div>
