<h2>About last card</h2>
<p>
  Last Card is a popular card game played in New Zealand in schools and gaming
  venues. It is similar in most aspects to Uno, Mau Mau or Crazy Eights but
  several rules differentiate it, for instance the function of a particular card.
</p>

<h2>Rules</h2>
TODO

<h2>About the software</h2>
<p>
  You can peruse, download, modify, patch, or submit issues about the game
  from Github
  (<a href="https://github.com/theflimflam/last-card">github.com/theflimflam/last-card</a>)
</p>

<p>
  This code is distributed with the
  <a href="http://opensource.org/licenses/MIT">MIT Licence</a>,
  and comes with absolutely no guarantees.
</p>

<h2>Attribution and Credits</h2>
<p>
  Background tiles available from <a href="http://subtlepatterns.com/">subtlepatterns.com</a>
</p>
<p>
  Normalise.css by Nicolas Gallagher and Jonathan Neal, available from
  <a href="https://necolas.github.io/normalize.css/">necolas.github.io/normalize.css</a>
</p>
<p>
  Fonts for <a href="http://www.fontsquirrel.com/fonts/Lobster">Lobster</a>
  and <a href="http://www.fontsquirrel.com/fonts/playfair-display">Playfair Display</a>
  available from <a href="http://www.fontsquirrel.com/">fontsquirrel.com</a>
</p>
