///**
// * Kuler color theme
// * https://color.adobe.com/Vintage-Orange-2-color-theme-357611/?showPublished=true
// */
//$swatch1: #97a68d;
//$swatch2: #f2ebc9;
//$swatch3: #bf8450;
//$swatch4: #a6401b;
//$swatch5: #732c12;
//
//$dark_primary:    $swatch5;
//$dark_secondary:  $swatch4;
//$dark_background: $swatch3;
//
//$light_primary:   $swatch1;
//$light_secondary: $swatch2;
//
//body {
//  /*color: $dark_primary;*/
//  max-width: 80em;
//  margin: 1em auto !important;
//  background: image-url('tileable_wood_texture.png');
//
//  &> div {
//    background: #000;
//    opacity: 0.5;
//    height: 100%;
//    padding: 1em;
//  }
//}
//
//
//h1 {
//  color: $dark_primary;
//  background: $dark_background;
//}
//
//* { color: white; }
//
//a, a:visited {
//  color: $dark_primary !important;
//  text-decoration: none;
//
//  border-bottom: 0.3em solid $light_primary;
//
//}
//
//a:hover {
//  color: $dark_secondary;
//  border-bottom: 0.3em solid $light_secondary;
//}

#table {
  height: calc(100vh - 200px);
}
